<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>10000</key>
	<string>登陆失败</string>
	<key>10001</key>
	<string>密码错误</string>
	<key>10002</key>
	<string>登陆帐号错误</string>
	<key>10003</key>
	<string>令牌错误</string>
	<key>10004</key>
	<string>登陆成功</string>
	<key>10005</key>
	<string>填写的账号或密码错误请重新填写</string>
	<key>10006</key>
	<string>签名时间戳失效</string>
	<key>10007</key>
	<string>该用户长时间没有登陆让用户重新登陆</string>
	<key>10008</key>
	<string>用户注册失败</string>
	<key>10009</key>
	<string>用户注册成功</string>
	<key>10010</key>
	<string>手机号码已存在</string>
	<key>10011</key>
	<string>用户注册异常</string>
	<key>10012</key>
	<string>昵称修改失败</string>
	<key>10013</key>
	<string>昵称修改成功</string>
	<key>10014</key>
	<string>昵称修改异常</string>
	<key>10015</key>
	<string>用户信息修改失败</string>
	<key>10016</key>
	<string>用户信息修改成功</string>
	<key>10017</key>
	<string>用户详情修改异常</string>
	<key>10018</key>
	<string>便申请失败</string>
	<key>10019</key>
	<string>便申请成功</string>
	<key>10020</key>
	<string>您的申请正在审核中</string>
	<key>10021</key>
	<string>邀请码不存在</string>
	<key>10022</key>
	<string>用户信息不一致</string>
	<key>10023</key>
	<string>便注册异常</string>
	<key>10024</key>
	<string>便信息修改失败</string>
	<key>10025</key>
	<string>便信息修改成功</string>
	<key>10026</key>
	<string>便信息修改异常</string>
	<key>10027</key>
	<string>接单模式开启失败</string>
	<key>10028</key>
	<string>接单模式开启成功</string>
	<key>10029</key>
	<string>接单模式开启异常</string>
	<key>10030</key>
	<string>验证码发送失败</string>
	<key>10031</key>
	<string>验证码发送成功</string>
	<key>10032</key>
	<string>验证码已发送</string>
	<key>10033</key>
	<string>验证码发送异常</string>
	<key>10034</key>
	<string>用户实体获取失败</string>
	<key>10035</key>
	<string>用户实体获取成功</string>
	<key>10036</key>
	<string>便拉取失败</string>
	<key>10037</key>
	<string>便拉取成功</string>
	<key>10038</key>
	<string>便拉取异常</string>
	<key>10039</key>
	<string>用户下单成功</string>
	<key>10040</key>
	<string>用户下单失败</string>
	<key>10041</key>
	<string>用户下单异常</string>
	<key>10042</key>
	<string>用户位置保存失败</string>
	<key>10043</key>
	<string>用户位置保存成功</string>
	<key>10044</key>
	<string>用户位置保存异常</string>
	<key>10045</key>
	<string>用户拉取失败</string>
	<key>10046</key>
	<string>用户拉取成功</string>
	<key>10047</key>
	<string>用户拉取异常</string>
	<key>10048</key>
	<string>便接受订单成功</string>
	<key>10049</key>
	<string>便接受订单失败</string>
	<key>10050</key>
	<string>便取消订单成功</string>
	<key>10051</key>
	<string>便取消订单失败</string>
	<key>10052</key>
	<string>便操作订单异常</string>
	<key>10053</key>
	<string>预定项目不能为空</string>
	<key>10054</key>
	<string>预定时间不能为空</string>
	<key>10055</key>
	<string>手机号不能为空</string>
	<key>10056</key>
	<string>手机号不是11位数或者不全是数字</string>
	<key>10057</key>
	<string>服务地址不能为空</string>
	<key>10058</key>
	<string>订单必填字段验证通过</string>
	<key>10059</key>
	<string>手机号不是11位数或者不全是数字</string>
	<key>10060</key>
	<string>请输入手机号码</string>
	<key>10061</key>
	<string>验证码已过期</string>
	<key>10062</key>
	<string>验证码不正确</string>
	<key>10063</key>
	<string>验证码通过</string>
	<key>10064</key>
	<string>验证码验证异常</string>
	<key>10068</key>
	<string>订单获取失败</string>
	<key>10069</key>
	<string>订单获取成功</string>
	<key>10070</key>
	<string>订单获取异常</string>
	<key>10071</key>
	<string>密码为空</string>
	<key>10072</key>
	<string>密码已存在</string>
	<key>10073</key>
	<string>初始化钱包异常</string>
	<key>10074</key>
	<string>获取钱包失败</string>
	<key>10075</key>
	<string>获取钱包成功</string>
	<key>10076</key>
	<string>获取钱包异常</string>
	<key>10077</key>
	<string>钱包密码设置失败</string>
	<key>10078</key>
	<string>钱包密码设置成功</string>
	<key>10079</key>
	<string>钱包密码设置异常</string>
	<key>10080</key>
	<string>钱包密码验证失败</string>
	<key>10081</key>
	<string>钱包密码验证通过</string>
	<key>10082</key>
	<string>钱包密码验证异常</string>
	<key>10083</key>
	<string>钱包数据完整性检查不通过</string>
	<key>10084</key>
	<string>钱包签名时间戳失效</string>
	<key>10085</key>
	<string>提现申请失败</string>
	<key>10086</key>
	<string>提现申请成功</string>
	<key>10087</key>
	<string>请选择正确的银行卡</string>
	<key>10088</key>
	<string>提现申请异常</string>
	<key>10089</key>
	<string>操作成功审核未通过</string>
	<key>10090</key>
	<string>操作成功审核通过</string>
	<key>10091</key>
	<string>提现审核异常</string>
	<key>10092</key>
	<string>该提现已通过审核请勿重复审核</string>
	<key>10093</key>
	<string>便评论操作异常</string>
	<key>10094</key>
	<string>便评论成功</string>
	<key>10095</key>
	<string>便该订单已经评论</string>
	<key>10096</key>
	<string>专业队和毕业学校必选其一</string>
	<key>10097</key>
	<string>产品拉取成功</string>
	<key>10098</key>
	<string>无产品数据</string>
	<key>10099</key>
	<string>拉取产品数据异常</string>
	<key>10100</key>
	<string>好友申请记录拉取成功</string>
	<key>10101</key>
	<string>无好友申请记录数据</string>
	<key>10102</key>
	<string>拉取好友申请记录异常</string>
	<key>10103</key>
	<string>已经是好友</string>
	<key>10104</key>
	<string>还不是好友</string>
	<key>10105</key>
	<string>申请好友发送成功</string>
	<key>10106</key>
	<string>申请好友发送失败</string>
	<key>10107</key>
	<string>申请好友发送异常</string>
	<key>10108</key>
	<string>请勿重复申请好友</string>
	<key>10109</key>
	<string>好友添加成功</string>
	<key>10110</key>
	<string>好友添加失败</string>
	<key>10111</key>
	<string>好友添加异常</string>
	<key>10112</key>
	<string>好友置顶成功</string>
	<key>10113</key>
	<string>好友置顶失败</string>
	<key>10114</key>
	<string>好友置顶异常</string>
	<key>10115</key>
	<string>产品分类拉取成功</string>
	<key>10116</key>
	<string>产品分类拉取失败</string>
	<key>10117</key>
	<string>产品分类拉取异常</string>
	<key>10118</key>
	<string>拉取便产品成功</string>
	<key>10119</key>
	<string>该便无产品</string>
	<key>10120</key>
	<string>便产品拉取异常</string>
	<key>10121</key>
	<string>发送验证码验证失败</string>
	<key>10122</key>
	<string>发送验证码验证通过</string>
	<key>10123</key>
	<string>发送验证码数据完整性检查不通过</string>
	<key>10124</key>
	<string>发送验证码签名时间戳失效</string>
	<key>10125</key>
	<string>银行卡保存成功</string>
	<key>10126</key>
	<string>银行卡保存失败</string>
	<key>10127</key>
	<string>银行卡保存异常</string>
	<key>10128</key>
	<string>便产品保存成功</string>
	<key>10129</key>
	<string>便产品保存失败</string>
	<key>10130</key>
	<string>便保存产品异常</string>
	<key>10131</key>
	<string>请勿尝试非便操作</string>
	<key>10132</key>
	<string>春晚报名失败</string>
	<key>10133</key>
	<string>春晚报名成功</string>
	<key>10134</key>
	<string>春晚报名异常</string>
	<key>10135</key>
	<string>春晚报名修改失败</string>
	<key>10136</key>
	<string>春晚报名修改成功</string>
	<key>10137</key>
	<string>春晚报名修改异常</string>
	<key>10138</key>
	<string>春晚报名名单获取失败</string>
	<key>10139</key>
	<string>春晚报名名单获取成功</string>
	<key>10140</key>
	<string>春晚报名名单获取成功</string>
	<key>10141</key>
	<string>请传入id或者分页page及count</string>
	<key>10142</key>
	<string>验证通过</string>
	<key>10143</key>
	<string>请输入手机号码</string>
	<key>10144</key>
	<string>手机号码格式不合法</string>
	<key>10145</key>
	<string>春晚简介不能超过60个字</string>
	<key>10146</key>
	<string>春晚报名手机号码不能重复</string>
	<key>10147</key>
	<string>无相关产品数据</string>
	<key>10148</key>
	<string>搜索产品成功</string>
	<key>10149</key>
	<string>搜索产品异常</string>
	<key>10150</key>
	<string>产品添加成功</string>
	<key>10151</key>
	<string>产品添加失败</string>
	<key>10152</key>
	<string>产品修改成功</string>
	<key>10153</key>
	<string>产品修改失败</string>
	<key>10154</key>
	<string>产品操作异常</string>
	<key>10155</key>
	<string>您无权限对产品进行操作</string>
	<key>10156</key>
	<string>商品上下架操作成功</string>
	<key>10157</key>
	<string>商品上下架操作失败</string>
	<key>10158</key>
	<string>商品上下架操作异常</string>
	<key>10159</key>
	<string>便订单记录添加成功</string>
	<key>10160</key>
	<string>便订单记录添加失败</string>
	<key>10161</key>
	<string>便订单记录添加异常</string>
	<key>10162</key>
	<string>该便不存在</string>
	<key>10163</key>
	<string>该订单号已存在</string>
	<key>10164</key>
	<string>请输入昵称</string>
	<key>10165</key>
	<string>昵称请勿超过20个字符</string>
	<key>10166</key>
	<string>请输入密码</string>
	<key>10167</key>
	<string>密码格式为6至16位的数字或英文或混合输入</string>
	<key>10168</key>
	<string>未进行任何验证</string>
	<key>10169</key>
	<string>已非正常人类年龄</string>
	<key>10170</key>
	<string>已非正常人类身高</string>
	<key>10171</key>
	<string>已非正常人类体重</string>
	<key>10172</key>
	<string>职业不能超过30个字</string>
	<key>10173</key>
	<string>过往病史不能超过40个字</string>
	<key>10174</key>
	<string>个性签名不能超过40个字</string>
	<key>10175</key>
	<string>购物车添加成功</string>
	<key>10176</key>
	<string>购物车修改成功</string>
	<key>10177</key>
	<string>购物车删除成功</string>
	<key>10178</key>
	<string>购物车操作失败</string>
	<key>10179</key>
	<string>购物车操作异常</string>
	<key>10180</key>
	<string>用户地址存储成功</string>
	<key>10181</key>
	<string>用户地址存储失败</string>
	<key>10182</key>
	<string>用户地址存储异常</string>
	<key>10183</key>
	<string>获取用户优惠卷列表成功</string>
	<key>10184</key>
	<string>获取用户优惠卷列表失败</string>
	<key>10185</key>
	<string>获取用户优惠卷列表异常</string>
	<key>10186</key>
	<string>活动总次数已用完</string>
	<key>10187</key>
	<string>用户活动次数已用完</string>
	<key>10188</key>
	<string>用户添加优惠券成功</string>
	<key>10189</key>
	<string>获取区域列表成功</string>
	<key>10190</key>
	<string>获取区域列表失败</string>
	<key>10191</key>
	<string>获取区域列表异常</string>
	<key>10192</key>
	<string>新增订单成功</string>
	<key>10193</key>
	<string>修改订单状态成功</string>
	<key>10194</key>
	<string>修改收货地址成功</string>
	<key>10195</key>
	<string>客服备注成功</string>
	<key>10196</key>
	<string>订单操作失败</string>
	<key>10197</key>
	<string>订单操作异常</string>
	<key>10201</key>
	<string>用户地址列表获取成功</string>
	<key>10202</key>
	<string>用户地址列表获取失败</string>
	<key>10203</key>
	<string>用户地址列表获取异常</string>
	<key>10204</key>
	<string>用户优惠劵添加失败</string>
	<key>10205</key>
	<string>用户优惠劵添加异常</string>
	<key>10206</key>
	<string>修改订单客户留言成功</string>
	<key>10207</key>
	<string>产品拉取成功</string>
	<key>10208</key>
	<string>无产品数据</string>
	<key>10209</key>
	<string>拉取数据异常</string>
	<key>10210</key>
	<string>获取购物车成功</string>
	<key>10211</key>
	<string>获取购物车失败</string>
	<key>10212</key>
	<string>获取购物车异常</string>
	<key>10213</key>
	<string>获取订单成功</string>
	<key>10214</key>
	<string>获取订单失败</string>
	<key>10215</key>
	<string>获取订单异常</string>
	<key>10216</key>
	<string>请输入便姓名</string>
	<key>10217</key>
	<string>便姓名不能超过8个汉字</string>
	<key>10218</key>
	<string>身份证格式不合法</string>
	<key>10219</key>
	<string>请输入资质证明</string>
	<key>10220</key>
	<string>专业队不超过15个字</string>
	<key>10221</key>
	<string>毕业学校不超过15个字</string>
	<key>10222</key>
	<string>课时费用价格不超过5位整数</string>
	<key>10223</key>
	<string>请输入课时费用</string>
	<key>10224</key>
	<string>请输入专业项目</string>
	<key>10225</key>
	<string>请输入可授项目</string>
	<key>10226</key>
	<string>请输入省市</string>
	<key>10227</key>
	<string>请输入教学场地</string>
	<key>10228</key>
	<string>个人简介不能超过80个字</string>
	<key>10229</key>
	<string>请输入邀请码</string>
	<key>10230</key>
	<string>邀请码不超过10位数字</string>
	<key>10231</key>
	<string>毕业学校和专业队至少输入一项</string>
	<key>10232</key>
	<string>首页标签获取成功</string>
	<key>10233</key>
	<string>首页标签获取失败</string>
	<key>10234</key>
	<string>首页标签获取异常</string>
	<key>10235</key>
	<string>请输入身份证</string>
	<key>10236</key>
	<string>该微信已注册为用户</string>
	<key>10237</key>
	<string>请输入接单时段</string>
	<key>10238</key>
	<string>备注不超过40个字</string>
	<key>10239</key>
	<string>请输入验证码</string>
	<key>10240</key>
	<string>验证码必须是6位数字</string>
	<key>10241</key>
	<string>您输入的金额低于提现最低限额</string>
	<key>10242</key>
	<string>请输入银行卡</string>
	<key>10243</key>
	<string>请输入您的评价</string>
	<key>10244</key>
	<string>评价字数应在4到100字之间</string>
	<key>10245</key>
	<string>请输入您的评分</string>
	<key>10246</key>
	<string>评分星级为1到5颗</string>
	<key>10247</key>
	<string>微信会员id绑定失败</string>
	<key>10248</key>
	<string>用户不是便</string>
	<key>10249</key>
	<string>用户不是便</string>
	<key>10250</key>
	<string>获取便信息成功</string>
	<key>10251</key>
	<string>获取便信息失败</string>
	<key>10252</key>
	<string>获取便信息异常</string>
	<key>10253</key>
	<string>游客登陆成功</string>
	<key>10254</key>
	<string>产品删除成功</string>
	<key>10255</key>
	<string>产品删除失败</string>
	<key>10256</key>
	<string>获取邀约详情成功</string>
	<key>10257</key>
	<string>获取邀约详情失败</string>
	<key>10258</key>
	<string>获取邀约详情异常</string>
	<key>10259</key>
	<string>活动已开始或结束无法撤销</string>
	<key>10260</key>
	<string>活动已有人报名无法撤销</string>
	<key>10261</key>
	<string>活动撤销成功</string>
	<key>10262</key>
	<string>活动撤销异常</string>
	<key>10263</key>
	<string>游客无操作权限</string>
	<key>10264</key>
	<string>添加邀约成功</string>
	<key>10265</key>
	<string>添加邀约失败</string>
	<key>10266</key>
	<string>添加邀约异常</string>
	<key>10267</key>
	<string>获取邀约列表成功</string>
	<key>10268</key>
	<string>获取邀约列表失败</string>
	<key>10269</key>
	<string>获取邀约列表异常</string>
	<key>10270</key>
	<string>邀约报名成功</string>
	<key>10271</key>
	<string>邀约报名失败</string>
	<key>10272</key>
	<string>邀约报名异常</string>
	<key>10273</key>
	<string>获取邀约报名列表成功</string>
	<key>10274</key>
	<string>获取邀约报名列表失败</string>
	<key>10275</key>
	<string>获取邀约报名列表异常</string>
	<key>10276</key>
	<string>邀约评论成功</string>
	<key>10277</key>
	<string>邀约评论失败</string>
	<key>10278</key>
	<string>邀约评论异常</string>
	<key>10279</key>
	<string>获取我的报名列表成功</string>
	<key>10280</key>
	<string>获取我的报名列表失败</string>
	<key>10281</key>
	<string>获取我的报名列表异常</string>
	<key>10282</key>
	<string>邀约接受状态修改成功</string>
	<key>10283</key>
	<string>邀约接受状态修改失败</string>
	<key>10284</key>
	<string>邀约接受状态修改异常</string>
	<key>10285</key>
	<string>获取邀约评论列表成功</string>
	<key>10286</key>
	<string>获取邀约评论列表失败</string>
	<key>10287</key>
	<string>获取邀约评论列表异常</string>
	<key>10288</key>
	<string>筛选邀约列表成功</string>
	<key>10289</key>
	<string>筛选邀约列表失败</string>
	<key>10290</key>
	<string>筛选邀约列表异常</string>
	<key>10291</key>
	<string>排序获取邀约列表成功</string>
	<key>10292</key>
	<string>排序获取邀约列表失败</string>
	<key>10293</key>
	<string>排序获取邀约列表异常</string>
	<key>10294</key>
	<string>获取活动报名人员成功</string>
	<key>10295</key>
	<string>获取活动报名人员失败</string>
	<key>10296</key>
	<string>获取活动报名人员异常</string>
	<key>10297</key>
	<string>获取项目列表成功</string>
	<key>10298</key>
	<string>获取项目列表失败</string>
	<key>10299</key>
	<string>获取项目列表异常</string>
	<key>10300</key>
	<string>项目删除成功</string>
	<key>10301</key>
	<string>项目删除失败</string>
	<key>10302</key>
	<string>项目删除异常</string>
	<key>10303</key>
	<string>项目修改成功</string>
	<key>10304</key>
	<string>操作项目失败</string>
	<key>10305</key>
	<string>项目新增成功</string>
	<key>10306</key>
	<string>操作项目异常</string>
	<key>10307</key>
	<string>用户实体获取异常</string>
	<key>10308</key>
	<string>用户退出登录成功</string>
	<key>10309</key>
	<string>用户退出登录失败</string>
	<key>10310</key>
	<string>只能发布2小时以后的邀约</string>
	<key>10311</key>
	<string>用户退出登录异常</string>
	<key>10312</key>
	<string>请输入您的描述</string>
	<key>10313</key>
	<string>描述字数应在4到100字之间</string>
	<key>10314</key>
	<string>您的验证码是</string>
	<key>10315</key>
	<string>验证码已使用过</string>
	<key>10316</key>
	<string>获取性别列表成功</string>
	<key>10317</key>
	<string>获取性别列表失败</string>
	<key>10318</key>
	<string>获取性别列表异常</string>
	<key>10319</key>
	<string>获取邀约对象成功</string>
	<key>10320</key>
	<string>获取邀约对象失败</string>
	<key>10321</key>
	<string>获取邀约对象异常</string>
	<key>10322</key>
	<string>获取请客类型列表成功</string>
	<key>10323</key>
	<string>获取请客类型列表失败</string>
	<key>10324</key>
	<string>获取请客类型列表异常</string>
	<key>10325</key>
	<string>每日请求次数不能超过10次发送短信提示</string>
	<key>10326</key>
	<string>从未向该手机号码发送过验证码</string>
	<key>10327</key>
	<string>未向该手机号码发送过该验证码</string>
	<key>10328</key>
	<string>性别不能为空</string>
	<key>10329</key>
	<string>请输入学历</string>
	<key>10330</key>
	<string>请输入正确性别</string>
	<key>10331</key>
	<string>您输入的金额超过提现最高限额</string>
	<key>10332</key>
	<string>提现余额不足</string>
	<key>10333</key>
	<string>获取信息成功</string>
	<key>10334</key>
	<string>获取信息失败</string>
	<key>10335</key>
	<string>获取信息异常</string>
	<key>10336</key>
	<string>更新成功</string>
	<key>10337</key>
	<string>更新失败</string>
	<key>10338</key>
	<string>更新异常</string>
	<key>10339</key>
	<string>添加成功</string>
	<key>10340</key>
	<string>添加失败</string>
	<key>10341</key>
	<string>添加异常</string>
	<key>10342</key>
	<string>删除成功</string>
	<key>10343</key>
	<string>删除失败</string>
	<key>10344</key>
	<string>删除异常</string>
	<key>10345</key>
	<string>添加成功</string>
	<key>10346</key>
	<string>添加失败</string>
	<key>10347</key>
	<string>添加异常</string>
	<key>10348</key>
	<string>银行卡删除成功</string>
	<key>10349</key>
	<string>银行卡删除失败</string>
	<key>10350</key>
	<string>银行卡重复</string>
	<key>10351</key>
	<string>添加产品分类成功</string>
	<key>10352</key>
	<string>添加产品分类失败</string>
	<key>10353</key>
	<string>添加产品分类异常</string>
	<key>10354</key>
	<string>修改产品分类成功</string>
	<key>10355</key>
	<string>修改产品分类失败</string>
	<key>10356</key>
	<string>修改产品分类异常</string>
	<key>10357</key>
	<string>请绑定银行卡</string>
	<key>10358</key>
	<string>获取学历列表成功</string>
	<key>10359</key>
	<string>获取学历列表失败</string>
	<key>10360</key>
	<string>获取学历列表异常</string>
	<key>10361</key>
	<string>获取便项目列表成功</string>
	<key>10362</key>
	<string>获取便项目列表失败</string>
	<key>10363</key>
	<string>获取便项目列表异常</string>
	<key>10364</key>
	<string>获取用户银行卡信息成功</string>
	<key>10365</key>
	<string>获取用户银行卡信息失败</string>
	<key>10366</key>
	<string>获取用户银行卡信息异常</string>
	<key>10367</key>
	<string>获取资质列表成功</string>
	<key>10368</key>
	<string>获取资质列表失败</string>
	<key>10369</key>
	<string>获取资质列表异常</string>
	<key>10370</key>
	<string>该活动仅限男生报名</string>
	<key>10371</key>
	<string>该活动仅限女生报名</string>
	<key>10372</key>
	<string>该活动已开始或结束</string>
	<key>10373</key>
	<string>课程发布成功</string>
	<key>10374</key>
	<string>课程发布失败</string>
	<key>10375</key>
	<string>课程发布异常</string>
	<key>10376</key>
	<string>获取团购用户列表成功</string>
	<key>10377</key>
	<string>获取团购用户列表失败</string>
	<key>10378</key>
	<string>获取团购用户列表异常</string>
	<key>10379</key>
	<string>获取已付款用户头像列表成功</string>
	<key>10380</key>
	<string>获取已付款用户头像列表失败</string>
	<key>10381</key>
	<string>获取已付款用户头像列表异常</string>
	<key>10382</key>
	<string>获取便发布课程列表成功</string>
	<key>10383</key>
	<string>获取便发布课程列表失败</string>
	<key>10384</key>
	<string>获取便发布课程列表异常</string>
	<key>10385</key>
	<string>获取课程详情成功</string>
	<key>10386</key>
	<string>获取课程详情失败</string>
	<key>10387</key>
	<string>获取课程详情异常</string>
	<key>10388</key>
	<string>请输入课程标题</string>
	<key>10389</key>
	<string>请输入课程时间</string>
	<key>10390</key>
	<string>请输入报名截止时间</string>
	<key>10391</key>
	<string>可报名人数必须大于0</string>
	<key>10392</key>
	<string>人均价格必须大于0</string>
	<key>10393</key>
	<string>请输入详细说明</string>
	<key>10394</key>
	<string>请输入发布时间</string>
	<key>10395</key>
	<string>请传入课程状态</string>
	<key>10396</key>
	<string>请输入地址</string>
	<key>10397</key>
	<string>请传入所在地址经纬度</string>
	<key>10398</key>
	<string>请传入发布人id</string>
	<key>10399</key>
	<string>开课时间必须大于当前时间</string>
	<key>10400</key>
	<string>截止时间必须小于开课时间</string>
	<key>10401</key>
	<string>截止时间必须大于当前时间</string>
	<key>10402</key>
	<string>图片上传成功</string>
	<key>10403</key>
	<string>没有收到任何图片信息</string>
	<key>10404</key>
	<string>密钥验证信息失败</string>
	<key>10405</key>
	<string>上传图片异常(请检查BASE64码)</string>
	<key>10406</key>
	<string>上传头像模式请带上用户ID</string>
	<key>10407</key>
	<string>获取银行列表成功</string>
	<key>10408</key>
	<string>获取银行列表失败</string>
	<key>10409</key>
	<string>获取银行列表异常</string>
	<key>10410</key>
	<string>获取上门服务列表成功</string>
	<key>10411</key>
	<string>获取上门服务列表失败</string>
	<key>10412</key>
	<string>获取上门服务列表异常</string>
	<key>10413</key>
	<string>一个用户对一个邀约只能评论一次</string>
	<key>10414</key>
	<string>只能在活动开始后才能发表评论</string>
	<key>10415</key>
	<string>邀约时间早于当前时间</string>
	<key>10416</key>
	<string>活动撤销失败</string>
	<key>10417</key>
	<string>团购报名未满可报名</string>
	<key>10418</key>
	<string>团购报名已满不可报名</string>
	<key>10419</key>
	<string>团购报名成功</string>
	<key>10420</key>
	<string>团购报名失败</string>
	<key>10421</key>
	<string>团购报名异常</string>
	<key>10422</key>
	<string>支付成功但人数已满请求退款订单取消</string>
	<key>10423</key>
	<string>支付成功且人数未满订单已付款</string>
	<key>10424</key>
	<string>支付失败订单未付款</string>
	<key>10425</key>
	<string>支付失败后15分钟后支付失败订单取消</string>
	<key>10426</key>
	<string>支付失败后15分钟内支付成功但人数已满请求退款订单取消</string>
	<key>10427</key>
	<string>支付失败后15分钟内支付成功且人数未满订单已付款</string>
	<key>10428</key>
	<string>订单已评价</string>
	<key>10429</key>
	<string>改变订单状态或者支付状态异常</string>
	<key>10430</key>
	<string>便回复成功</string>
	<key>10431</key>
	<string>便回复失败</string>
	<key>10432</key>
	<string>用户评论失败</string>
	<key>10433</key>
	<string>用户评论成功</string>
	<key>10434</key>
	<string>团购用户评论异常</string>
	<key>10435</key>
	<string>团购退款申请成功</string>
	<key>10436</key>
	<string>团购退款申请失败</string>
	<key>10437</key>
	<string>团购退款申请异常</string>
	<key>10438</key>
	<string>获取便团购课程列表成功</string>
	<key>10439</key>
	<string>获取便团购课程列表失败</string>
	<key>10440</key>
	<string>获取便团购课程列表异常</string>
	<key>10441</key>
	<string>用户评论异常</string>
	<key>10442</key>
	<string>保存退款申请记录成功</string>
	<key>10443</key>
	<string>保存退款申请记录失败</string>
	<key>10444</key>
	<string>保存退款申请记录异常</string>
	<key>10445</key>
	<string>保存团购支付记录成功</string>
	<key>10446</key>
	<string>保存团购支付记录失败</string>
	<key>10447</key>
	<string>保存团购支付记录异常</string>
	<key>10448</key>
	<string>获取支付方式成功</string>
	<key>10449</key>
	<string>获取支付方式失败</string>
	<key>10450</key>
	<string>获取支付方式异常</string>
	<key>10451</key>
	<string>获取用户订单列表成功</string>
	<key>10452</key>
	<string>获取用户订单列表失败</string>
	<key>10453</key>
	<string>获取用户订单列表异常</string>
	<key>10454</key>
	<string>您已报名</string>
	<key>10455</key>
	<string>便不能报名自己的课程</string>
	<key>10456</key>
	<string>未操作订单或操作失败</string>
	<key>10457</key>
	<string>不是本人操作订单</string>
	<key>10458</key>
	<string>获取新Token成功</string>
	<key>10459</key>
	<string>每个用户对同一课程只能评论一次</string>
	<key>10460</key>
	<string>不是发布该课程的便</string>
	<key>10461</key>
	<string>获取用户咨询列表成功</string>
	<key>10462</key>
	<string>获取用户咨询列表失败</string>
	<key>10463</key>
	<string>获取用户咨询列表异常</string>
	<key>10464</key>
	<string>获取便团队成功</string>
	<key>10465</key>
	<string>获取便团队失败</string>
	<key>10466</key>
	<string>获取便团队异常</string>
	<key>10467</key>
	<string>获取便小屋信息成功</string>
	<key>10468</key>
	<string>获取便小屋信息失败</string>
	<key>10469</key>
	<string>获取便小屋信息异常</string>
	<key>10470</key>
	<string>未付款用户不能评论</string>
	<key>10471</key>
	<string>您选择的服务时段已被占用</string>
	<key>10472</key>
	<string>价格计算错误</string>
	<key>10473</key>
	<string>释放被锁定服务时段成功</string>
	<key>10474</key>
	<string>释放被锁定服务时段失败</string>
	<key>10475</key>
	<string>释放被锁定服务时段异常</string>
	<key>10476</key>
	<string>获取用户订单汇总成功</string>
	<key>10477</key>
	<string>获取用户订单汇总失败</string>
	<key>10478</key>
	<string>获取用户订单汇总异常</string>
	<key>10479</key>
	<string>获取图片域名成功</string>
	<key>10480</key>
	<string>获取图片域名异常</string>
	<key>10481</key>
	<string>传入的user_id错误</string>
	<key>10482</key>
	<string>便申请成功但接单默认时段修改标识插入失败</string>
	<key>10483</key>
	<string>获取品牌列表异常</string>
	<key>10484</key>
	<string>修改品牌信息成功</string>
	<key>10485</key>
	<string>修改品牌信息失败</string>
	<key>10486</key>
	<string>修改品牌信息异常</string>
	<key>10487</key>
	<string>添加品牌成功</string>
	<key>10488</key>
	<string>添加品牌失败</string>
	<key>10489</key>
	<string>添加品牌异常</string>
	<key>10490</key>
	<string>删除品牌成功</string>
	<key>10491</key>
	<string>删除品牌失败</string>
	<key>10492</key>
	<string>删除品牌异常</string>
	<key>10493</key>
	<string>数据库存储验证码信息失败</string>
	<key>10494</key>
	<string>每日请求次数不能超过10次不发送短信提示</string>
	<key>10495</key>
	<string>便信息修改成功但接单默认时段修改标识插入失败</string>
	<key>10496</key>
	<string>请勿重复报名邀约</string>
	<key>10497</key>
	<string>非本人操作不能撤销邀约</string>
	<key>10498</key>
	<string>支付密码修改成功</string>
	<key>10499</key>
	<string>支付密码修改失败</string>
	<key>10500</key>
	<string>支付密码修改异常</string>
	<key>10501</key>
	<string>登录密码修改成功</string>
	<key>10502</key>
	<string>登录密码修改失败</string>
	<key>10503</key>
	<string>登录密码修改异常</string>
	<key>10504</key>
	<string>获取提现审核记录成功</string>
	<key>10505</key>
	<string>掌柜入驻申请成功</string>
	<key>10506</key>
	<string>掌柜信息保存失败</string>
	<key>10507</key>
	<string>掌柜入驻申请异常</string>
	<key>10508</key>
	<string>营业执照注册号只能输入数字</string>
	<key>10510</key>
	<string>姓名最多输入16位字符</string>
	<key>10511</key>
	<string>邀请码最少输入3位数字最多10位数字</string>
	<key>10512</key>
	<string>结束时间必须大于开始时间</string>
	<key>10513</key>
	<string>掌柜名称不能超过40个字符</string>
	<key>10514</key>
	<string>掌柜电话或掌柜手机格式不正确</string>
	<key>10515</key>
	<string>掌柜简介不超过600个字符</string>
	<key>10516</key>
	<string>入驻申请请码不正确</string>
	<key>10517</key>
	<string>掌柜信息修改成功</string>
	<key>10518</key>
	<string>筛选掌柜列表成功</string>
	<key>10519</key>
	<string>筛选掌柜列表异常</string>
	<key>10520</key>
	<string>搜索掌柜成功</string>
	<key>10521</key>
	<string>搜索掌柜异常</string>
	<key>10522</key>
	<string>获取城市列表成功</string>
	<key>10523</key>
	<string>获取城市列表异常</string>
	<key>10524</key>
	<string>获取掌柜信息成功</string>
	<key>10525</key>
	<string>获取掌柜信息异常</string>
	<key>10526</key>
	<string>筛选钱xx列表成功</string>
	<key>10527</key>
	<string>筛选钱xx列表异常</string>
	<key>10528</key>
	<string>搜索钱xx成功</string>
	<key>10529</key>
	<string>搜索钱xx异常</string>
	<key>10530</key>
	<string>获取掌柜项目列表成功</string>
	<key>10531</key>
	<string>获取掌柜项目列表异常</string>
	<key>10532</key>
	<string>获取掌柜列表成功</string>
	<key>10533</key>
	<string>获取掌柜列表异常</string>
	<key>10534</key>
	<string>钱xx入驻申请成功</string>
	<key>10535</key>
	<string>钱xx信息修改成功</string>
	<key>10536</key>
	<string>钱xx信息保存失败</string>
	<key>10537</key>
	<string>邀请码不正确</string>
	<key>10538</key>
	<string>钱xx入驻申请异常</string>
	<key>10539</key>
	<string>申请审核中不能修改信息</string>
	<key>10540</key>
	<string>获取钱xx详情成功</string>
	<key>10541</key>
	<string>获取钱xx详情异常</string>
	<key>10542</key>
	<string>请勿非掌柜主操作</string>
	<key>10543</key>
	<string>掌柜下单成功</string>
	<key>10544</key>
	<string>掌柜下单失败</string>
	<key>10545</key>
	<string>掌柜下单异常</string>
	<key>10546</key>
	<string>发表说说成功</string>
	<key>10547</key>
	<string>发表说说失败</string>
	<key>10548</key>
	<string>撤销说说成功</string>
	<key>10549</key>
	<string>撤销说说失败</string>
	<key>10550</key>
	<string>发布或撤销说说异常</string>
	<key>10551</key>
	<string>点赞失败</string>
	<key>10552</key>
	<string>点赞成功</string>
	<key>10553</key>
	<string>取消点赞失败</string>
	<key>10554</key>
	<string>取消点赞成功</string>
	<key>10555</key>
	<string>请勿重复点赞</string>
	<key>10556</key>
	<string>点赞操作异常</string>
	<key>10557</key>
	<string>发表或回复评论成功</string>
	<key>10558</key>
	<string>操作失败</string>
	<key>10559</key>
	<string>删除评论成功</string>
	<key>10560</key>
	<string>操作异常</string>
	<key>10561</key>
	<string>发起话题失败</string>
	<key>10562</key>
	<string>发起话题成功</string>
	<key>10563</key>
	<string>发起话题异常</string>
	<key>10564</key>
	<string>获取信息列表成功</string>
	<key>10565</key>
	<string>获取信息列表异常</string>
	<key>10566</key>
	<string>获取评论列表成功</string>
	<key>10567</key>
	<string>获取评论列表异常</string>
	<key>10568</key>
	<string>获取点赞列表成功</string>
	<key>10569</key>
	<string>获取点赞列表异常</string>
	<key>10570</key>
	<string>预约时间格式不正确</string>
	<key>10571</key>
	<string>预约不能小于当前时间</string>
	<key>10572</key>
	<string>获取话题列表成功</string>
	<key>10573</key>
	<string>获取话题列表异常</string>
	<key>10574</key>
	<string>获取提现审核记录异常</string>
	<key>10575</key>
	<string>获取掌柜订单成功</string>
	<key>10576</key>
	<string>获取掌柜订单异常</string>
	<key>10577</key>
	<string>获取掌柜订单详情成功</string>
	<key>10578</key>
	<string>获取掌柜订单详情异常</string>
	<key>10579</key>
	<string>已补贴的订单不能查看</string>
	<key>10580</key>
	<string>钱xx下单成功</string>
	<key>10581</key>
	<string>钱xx下单失败</string>
	<key>10582</key>
	<string>钱xx下单异常</string>
	<key>10583</key>
	<string>获取钱xx订单成功</string>
	<key>10584</key>
	<string>获取钱xx订单异常</string>
	<key>10585</key>
	<string>获取钱xx订单详情成功</string>
	<key>10586</key>
	<string>获取钱xx订单详情异常</string>
	<key>10587</key>
	<string>钱xx订单核销成功</string>
	<key>10588</key>
	<string>钱xx订单核销失败</string>
	<key>10589</key>
	<string>钱xx订单核销异常</string>
	<key>10590</key>
	<string>钱xx验证码不正确</string>
	<key>10591</key>
	<string>掌柜订单核销成功</string>
	<key>10592</key>
	<string>掌柜订单核销失败</string>
	<key>10593</key>
	<string>掌柜订单核销异常</string>
	<key>10594</key>
	<string>掌柜验证码不正确</string>
	<key>10595</key>
	<string>小屋管理操作成功</string>
	<key>10596</key>
	<string>小屋管理操作异常</string>
	<key>10597</key>
	<string>无此图片或图片中的一张或几张不存在</string>
	<key>10598</key>
	<string>无此视频或视频中的一个或几个不存在</string>
	<key>10599</key>
	<string>顶部背景图片编辑成功</string>
	<key>10600</key>
	<string>顶部背景图片编辑异常</string>
	<key>10601</key>
	<string>关注失败</string>
	<key>10602</key>
	<string>取消关注失败</string>
	<key>10603</key>
	<string>关注成功</string>
	<key>10604</key>
	<string>取消关注成功</string>
	<key>10605</key>
	<string>关注操作异常</string>
	<key>10606</key>
	<string>获取粉丝列表成功</string>
	<key>10607</key>
	<string>获取粉丝列表异常</string>
	<key>10608</key>
	<string>自己不能关注自己</string>
	<key>10609</key>
	<string>顶部背景图片编辑失败</string>
	<key>10610</key>
	<string>邀请记录失败</string>
	<key>10611</key>
	<string>邀请记录异常</string>
	<key>10612</key>
	<string>手机号码不能为空</string>
	<key>10613</key>
	<string>手机号码不合法</string>
	<key>10614</key>
	<string>手机号码重复</string>
	<key>10615</key>
	<string>邀请人多次邀请同一人参加活动</string>
	<key>10616</key>
	<string>撤销团购课程成功</string>
	<key>10617</key>
	<string>撤销团购课程失败</string>
	<key>10618</key>
	<string>撤销团购课程异常</string>
	<key>10619</key>
	<string>请勿尝试非本人操作</string>
	<key>10620</key>
	<string>活动已有人报名无法撤销</string>
	<key>10621</key>
	<string>活动已开始或结束无法撤销</string>
	<key>10622</key>
	<string>点赞失败</string>
	<key>10623</key>
	<string>取消点赞失败</string>
	<key>10624</key>
	<string>点赞成功</string>
	<key>10625</key>
	<string>取消点赞成功</string>
	<key>10626</key>
	<string>点赞操作异常</string>
	<key>10627</key>
	<string>获取点赞列表成功</string>
	<key>10628</key>
	<string>获取点赞列表异常</string>
	<key>10629</key>
	<string>获取粉丝关注的用户列表成功</string>
	<key>10630</key>
	<string>获取粉丝关注的用户列表异常</string>
	<key>10631</key>
	<string>获取钱xx项目成功</string>
	<key>10632</key>
	<string>获取钱xx项目异常</string>
	<key>10662</key>
	<string>无此好友申请记录</string>
	<key>10663</key>
	<string>获取标签列表成功</string>
	<key>10664</key>
	<string>获取标签列表异常</string>
	<key>10665</key>
	<string>搜索问题列表成功</string>
	<key>10666</key>
	<string>搜索问题列表异常</string>
	<key>10667</key>
	<string>获取腾讯视频鉴权成功</string>
	<key>10668</key>
	<string>获取腾讯视频鉴权异常</string>
	<key>10669</key>
	<string>登录密码验证通过</string>
	<key>10670</key>
	<string>登录密码验证失败</string>
	<key>10671</key>
	<string>登录密码验证异常</string>
	<key>10672</key>
	<string>验证通过且更换手机号成功</string>
	<key>10673</key>
	<string>验证通过但更换手机号失败</string>
	<key>10674</key>
	<string>验证通过且修改密码成功</string>
	<key>10675</key>
	<string>验证通过且修改密码失败</string>
	<key>10676</key>
	<string>获取二维码信息成功</string>
	<key>10677</key>
	<string>获取二维码信息异常</string>
	<key>10678</key>
	<string>不能关注非便用户</string>
	<key>10679</key>
	<string>自己不能报名自己的邀约</string>
	<key>10680</key>
	<string>该用户已注册</string>
	<key>10681</key>
	<string>该用户尚未注册</string>
	<key>10682</key>
	<string>已互为好友</string>
	<key>10683</key>
	<string>获取好友列表成功</string>
	<key>10684</key>
	<string>获取好友列表异常</string>
	<key>10685</key>
	<string>搜索好友成功</string>
	<key>10686</key>
	<string>搜索好友异常</string>
	<key>10687</key>
	<string>下级审核不通过</string>
	<key>10688</key>
	<string>手续费计算错误</string>
	<key>10689</key>
	<string>请输入掌柜名称</string>
	<key>10690</key>
	<string>价格计算错误</string>
	<key>10691</key>
	<string>用户注册成功但IM信息注册失败</string>
	<key>10692</key>
	<string>订单时段释放成功</string>
	<key>10693</key>
	<string>价格计算错误</string>
	<key>10694</key>
	<string>便该订单失败</string>
	<key>10695</key>
	<string>非该订单用户不能评价</string>
	<key>10696</key>
	<string>订单不存在</string>
	<key>10697</key>
	<string>问题标题一模一样</string>
	<key>10698</key>
	<string>补充问题成功</string>
	<key>10699</key>
	<string>补充问题失败</string>
	<key>10700</key>
	<string>不是发问人操作</string>
	<key>10701</key>
	<string>根据邀请码获取便真名成功</string>
	<key>10702</key>
	<string>根据邀请码获取便真名异常</string>
	<key>10703</key>
	<string>问题不存在或已删除</string>
	<key>10704</key>
	<string>非本人操作</string>
	<key>10705</key>
	<string>只能关注便</string>
	<key>10706</key>
	<string>用户咨询成功</string>
	<key>10707</key>
	<string>用户咨询失败</string>
	<key>10708</key>
	<string>请输入钱xx名称</string>
	<key>10709</key>
	<string>钱xx名称不能超过40个字符</string>
	<key>10710</key>
	<string>钱xx电话或手机格式不正确</string>
	<key>10711</key>
	<string>钱xx简介不超过600个字符</string>
	<key>10712</key>
	<string>掌柜评价成功</string>
	<key>10713</key>
	<string>用户对一个订单只能评价一次</string>
	<key>10714</key>
	<string>不是下单人不能评价</string>
	<key>10715</key>
	<string>掌柜评价失败</string>
	<key>10716</key>
	<string>掌柜评价异常</string>
	<key>10717</key>
	<string>钱xx评价成功</string>
	<key>10718</key>
	<string>用户对一个订单只能评价一次</string>
	<key>10719</key>
	<string>不是下单人不能评价</string>
	<key>10720</key>
	<string>钱xx评价失败</string>
	<key>10721</key>
	<string>钱xx评价异常</string>
	<key>10722</key>
	<string>获取掌柜评论列表成功</string>
	<key>10723</key>
	<string>获取掌柜评论列表异常</string>
	<key>10724</key>
	<string>获取钱xx评论列表成功</string>
	<key>10725</key>
	<string>获取钱xx评论列表异常</string>
	<key>10726</key>
	<string>获取我的掌柜列表成功</string>
	<key>10727</key>
	<string>获取我的掌柜列表异常</string>
	<key>10728</key>
	<string>获取我的钱xx列表成功</string>
	<key>10729</key>
	<string>获取我的钱xx列表异常</string>
	<key>10730</key>
	<string>此订单无法取消</string>
	<key>10731</key>
	<string>团购课程和便不匹配</string>
	<key>10732</key>
	<string>您已报名但未支付</string>
	<key>10733</key>
	<string>获取用户订单详情成功</string>
	<key>10734</key>
	<string>获取用户订单详情异常</string>
	<key>10735</key>
	<string>app用户添加优惠券成功</string>
	<key>10736</key>
	<string>app用户添加优惠券失败</string>
	<key>10737</key>
	<string>app用户添加优惠券异常</string>
	<key>10738</key>
	<string>获取便全部图片或者视频成功</string>
	<key>10739</key>
	<string>获取便全部图片或者视频异常</string>
	<key>10740</key>
	<string>根据姓名搜索便成功</string>
	<key>10741</key>
	<string>根据姓名搜索便异常</string>
	<key>10742</key>
	<string>获取活动列表成功</string>
	<key>10743</key>
	<string>获取活动列表异常</string>
	<key>10744</key>
	<string>活动报名操作成功</string>
	<key>10745</key>
	<string>活动报名异常</string>
	<key>10746</key>
	<string>该活动不存在</string>
	<key>10747</key>
	<string>活动报名人数已满</string>
	<key>10748</key>
	<string>轮播图获取成功</string>
	<key>10749</key>
	<string>轮播图获取异常</string>
	<key>10750</key>
	<string>释放时段成功</string>
	<key>10751</key>
	<string>获取公共key成功</string>
	<key>10752</key>
	<string>获取公共key异常</string>
	<key>10753</key>
	<string>获取最新版本成功</string>
	<key>10754</key>
	<string>获取最新版本异常</string>
	<key>10755</key>
	<string>不是下单人申请</string>
	<key>10756</key>
	<string>金额不匹配</string>
	<key>10757</key>
	<string>订单不是已付款状态</string>
	<key>10758</key>
	<string>多个便拥有同一个验证码</string>
	<key>10759</key>
	<string>该验证码不存在</string>
	<key>10760</key>
	<string>获取便评论列表成功</string>
	<key>10761</key>
	<string>获取便评论列表异常</string>
	<key>10762</key>
	<string>获取钱xx团队成功</string>
	<key>10763</key>
	<string>获取钱xx团队异常</string>
	<key>10764</key>
	<string>获取掌柜团队成功</string>
	<key>10765</key>
	<string>获取掌柜团队异常</string>
	<key>10766</key>
	<string>获取支付配置信息成功</string>
	<key>10767</key>
	<string>获取支付配置信息异常</string>
	<key>10768</key>
	<string>推荐便或者每周之星获取成功</string>
	<key>10769</key>
	<string>推荐便或者每周之星获取异常</string>
	<key>10770</key>
	<string>便拒绝接单</string>
	<key>10771</key>
	<string>用户没有注册</string>
	<key>10772</key>
	<string>微信登录判断用户是否存在出现异常错误</string>
	<key>10773</key>
	<string>无手机号码</string>
	<key>10774</key>
	<string>无登录密码</string>
	<key>10775</key>
	<string>无昵称</string>
	<key>10776</key>
	<string>用户存在且资料齐全</string>
	<key>10777</key>
	<string>搜索团购课程列表成功</string>
	<key>10778</key>
	<string>搜索团购课程列表异常</string>
	<key>10779</key>
	<string>不是便本人不能查看便所有信息</string>
	<key>10816</key>
	<string>该订单不存在</string>
	<key>10817</key>
	<string>拒绝好友申请成功</string>
	<key>10818</key>
	<string>获取课程分享信息成功</string>
	<key>10819</key>
	<string>获取课程分享信息异常</string>
	<key>10820</key>
	<string>获取小屋分享信息成功</string>
	<key>10821</key>
	<string>获取小屋分享信息异常</string>
	<key>10822</key>
	<string>获取掌柜分享信息成功</string>
	<key>10823</key>
	<string>获取掌柜分享信息异常</string>
	<key>10824</key>
	<string>获取邀请好友分享信息成功</string>
	<key>10825</key>
	<string>获取邀请好友分享信息异常</string>
	<key>10826</key>
	<string>获取广告列表成功</string>
	<key>10827</key>
	<string>获取广告列表异常</string>
	<key>10828</key>
	<string>记录广告点击信息成功</string>
	<key>10829</key>
	<string>记录广告点击信息失败</string>
	<key>10830</key>
	<string>记录广告点击信息异常</string>
	<key>10831</key>
	<string>无此函数</string>
	<key>10832</key>
	<string>订单状态错误不能评价</string>
	<key>10833</key>
	<string>人数已满</string>
	<key>10834</key>
	<string>取消订单成功</string>
	<key>10835</key>
	<string>删除订单成功</string>
	<key>10836</key>
	<string>非法操作</string>
	<key>10837</key>
	<string>订单状态不正确</string>
	<key>10838</key>
	<string>请勿尝试非本人操作</string>
	<key>10839</key>
	<string>取消订单或删除订单操作异常</string>
	<key>10840</key>
	<string>修改好友备注成功</string>
	<key>10841</key>
	<string>修改好友备注失败</string>
	<key>10842</key>
	<string>修改好友备注异常</string>
	<key>10843</key>
	<string>支付回调存储成功</string>
	<key>10844</key>
	<string>支付回调存储失败</string>
	<key>10845</key>
	<string>支付回调存储异常</string>
	<key>10846</key>
	<string>订单状态错误</string>
	<key>10847</key>
	<string>超时支付已申请退款</string>
	<key>10848</key>
	<string>重复支付已申请退款</string>
	<key>10849</key>
	<string>便订单退款申请成功</string>
	<key>10850</key>
	<string>便订单退款申请失败</string>
	<key>10851</key>
	<string>便订单退款申请异常</string>
	<key>10852</key>
	<string>获取钱xx分享信息成功</string>
	<key>10853</key>
	<string>获取钱xx分享信息异常</string>
	<key>10854</key>
	<string>该订单状态不正确</string>
	<key>10855</key>
	<string>同步用户IM成功</string>
	<key>10856</key>
	<string>同步用户IM失败</string>
	<key>10857</key>
	<string>同步用户IM异常</string>
	<key>10858</key>
	<string>删除成功</string>
	<key>10859</key>
	<string>请勿尝试非本人操作</string>
	<key>10860</key>
	<string>该时段已被预约</string>
	<key>10861</key>
	<string>课程报名已截止</string>
</dict>
</plist>
